<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

  <div class="sidebar-item">
      <img src='http://www.gravatar.com/avatar/7921ad69b75912d414562012702b2727?s=150'/>
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    <a class="sidebar-nav-item" href="https://twitter.com/karthikselva"  target="_blank">Twitter</a>
    <a class="sidebar-nav-item" href="https://github.com/karthikselva" target="_blank">GitHub</a>    
    <a class="sidebar-nav-item" href="http://salesforce.stackexchange.com/users/3672/karthikselva" target="_blank">Stackoverflow</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }} {{ site.author.name }}. Distributed with an MIT license.
    </p>
  </div>
</div>
